In [1]:
import pandas as pd 
import numpy as np

In [7]:
data = pd.read_csv("../Apoyo_desafio/Fish.csv")
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [13]:
#Volumen en un cilindro 
data['Volumen'] = np.pi * (data['Width'] / 2)**2 * data['Length1']


data

,Species,Weight,Length1,Length2,Length3,Height,Width,Radio,Volumen
0,Bream,242.0,23.2,25.4,30.0,11.5200,4.0200,2.01000,294.462485
1,Bream,290.0,24.0,26.3,31.2,12.4800,4.3056,2.15280,349.436675
2,Bream,340.0,23.9,26.5,31.1,12.3778,4.6961,2.34805,413.963886
3,Bream,363.0,26.3,29.0,33.5,12.7300,4.4555,2.22775,410.051614
4,Bream,430.0,26.5,29.0,34.0,12.4440,5.1340,2.56700,548.589491
...,...,...,...,...,...,...,...,...,...
154,Smelt,12.2,11.5,12.2,13.4,2.0904,1.3936,0.69680,17.541390
155,Smelt,13.4,11.7,12.4,13.5,2.4300,1.2690,0.63450,14.797862
156,Smelt,12.2,12.1,13.0,13.8,2.2770,1.2558,0.62790,14.987052
157,Smelt,19.7,13.2,14.3,15.2,2.8728,2.0672,1.03360,44.302558
158,Smelt,19.9,13.8,15.0,16.2,2.9322,1.8792,0.93960,38.274980