In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('../Apoyo-Desafio/Retail_Invoices.xlsx')

In [4]:
df.head()

  InvoiceNo InvoiceDate  CustomerID  Quantity  price_total  StockCode
0    536365  2010-12-01       17850        40       139.12          7
1    536366  2010-12-01       17850        12        22.20          2
2    536367  2010-12-01       13047        83       278.73         12
3    536368  2010-12-01       13047        15        70.05          4
4    536369  2010-12-01       13047         3        17.85          1