In [6]:
import pandas as pd

In [7]:
transit_info = pd.read_parquet('transit_info_2019_01_01-2023_10_31.parquet')
transit_info.head()

,imo,neo_transit,transit_bound,vessel_type,time_at_entrance,time_out_canal,time_anchoring_in,time_anchoring_out,direct_transit,waiting_time,transit_time,week_year_transit
0,9717292.0,0,North,Chemical tanker,2019-01-01 00:29:36,2019-01-01 06:00:52,2018-12-31 00:00:48,2018-12-31 22:35:13,1,22.573611,5.521111,1-2019
1,9581239.0,1,South,Bulk carrier,2019-01-01 00:39:05,2019-01-02 02:41:17,2018-12-31 00:11:14,2018-12-31 23:09:29,0,22.970833,26.036667,1-2019
2,9758038.0,0,North,Chemical tanker,2019-01-01 01:12:16,2019-01-01 06:59:40,2018-12-31 08:50:00,2018-12-31 23:50:00,1,15.000000,5.790000,1-2019
3,9369095.0,0,North,General cargo,2019-01-01 01:52:09,2019-01-01 08:21:48,2018-12-31 00:07:38,2019-01-01 00:34:09,0,24.441944,6.494167,1-2019
4,9683398.0,0,North,Chemical tanker,2019-01-01 06:41:02,2019-01-01 12:48:53,2018-12-31 20:01:28,2019-01-01 05:13:24,1,9.198889,6.130833,1-2019

In [12]:
ais_sample = pd.read_csv('ais_sample.csv', sep=';')
ais_sample.head()

,mmsi,date_time_utc,lon,lat,sog,cog,true_heading,nav_status,message_nr
0,265829480,2020-01-01 13:51:41,9.95812,57.5941,0.0,234.8,230,0,3
1,259531000,2020-01-01 08:29:05,10.24460,59.7308,0.0,343.2,75,3,1
2,257003560,2020-01-01 19:11:55,8.41394,58.1889,22.1,49.5,41,0,1
3,257182000,2020-01-01 13:32:16,10.56540,59.7834,20.3,192.5,192,0,1
4,257086770,2020-01-01 20:30:36,10.45730,59.2366,0.0,304.1,58,0,1